@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  --fc-background: #0e0e23;
  --fc-light: #141834;
  --fc-secondary-light: #212752;
  --fc-button: #4255d4;
  color: white;

  padding: 10px;
  padding: 10px;
  background-color: var(--fc-background);
}

.loader {
  width: 100px;
  margin: auto;
  animation: scale-up .5s 2s cubic-bezier(0.58,-0.23, 0.89, 0.56) forwards;
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translateX(-50%);
  transform-origin: 65px center;
}

.error-icon {
  background-color: #556af8;
  height: 15px;
  width: 15px;
  border-radius: 100px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button {
  color: white;
  background-color: var(--fc-button);
  border: none;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  animation: scale-in 1s .2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.status-page button {
  animation-delay: 2.5s;
}

@keyframes scale-up {
  to { transform: scale(4); opacity: 0; }
}

@keyframes scale-in {
  from { transform: scale(.8); opacity: 0; }
}

.status-container {
  display: flex;
  flex-direction: column;
}

app-index {
  max-width: 1200px;
  display: block;
  margin: auto;
}

.container {
  width: 100%;
  max-width: 1500px;
}

.art {
  width: 150px;
  margin: auto;
  position: relative;
  top: 60px;
  margin-bottom: 100px;
  animation: 1s to-top cubic-bezier(0.18, 1.51, 0.34, 0.9);
  animation: idle 2s alternate infinite cubic-bezier(0.52, 0, 0.28, 1);
}

.art svg {
  position: absolute;
  width: 35px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

.score-container,
.card {
  background-color: var(--fc-light);
  box-shadow: #3d414424 0 10px 15px 0;
  border-radius: 10px;
  opacity: 0;
  animation: 1s to-top cubic-bezier(0.18, 1.51, 0.34, 0.9) forwards;
  padding: 20px;
  margin-bottom: 20px;
}

.logo {
  font-size: 16px;
}

.user {
  float: right;
}

.score-container .copy,
.card .copy {
  text-align: center;
  opacity: 0;
  animation: 1s 0.2s to-top forwards cubic-bezier(0.18, 1.51, 0.34, 0.9);
}

.title {
  font-weight: 600;
  margin: 0;
}

.description {
  color: #8696ac;
  font-size: 14px;
  margin-top: 5px;
  padding: 0 30px;
  max-width: 300px;
}

.action-button {
  outline: none;
  border: none;
  padding: 7px 20px;
  border-radius: 100px;
  color: var(--fc-light);
  font-size: 14px;
  box-shadow: 0px 4.528800010681152px 3.623039960861206px 0px
    rgba(0, 71, 255, 0.0244);
  box-shadow: 0px 4.519999980926514px 6.019999980926514px 0px
    rgba(0, 71, 255, 0.035);
  box-shadow: 0px 5.150000095367432px 7.119999885559082px 0px
    rgba(0, 71, 255, 0.0456);
  box-shadow: 0px 10px 10px 0px rgba(0, 71, 255, 0.07);
  margin-bottom: 60px;
}

.reward-container {
  text-align: center;
  opacity: 0;
  animation: 1s 0.4s to-top forwards cubic-bezier(0.18, 1.51, 0.34, 0.9);
}

.highlighted-text {
  font-weight: 500;
  font-size: 14px;
  background-color: #00a6ff4c;
  color: #096be2;
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 100px;
  margin: 30px 0 15px;
}

@keyframes to-top {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes idle {
  from {
    transform: translateY(-10px);
  }
}
body {
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 1500px;
}

.art {
  width: 150px;
  margin: auto;
  position: relative;
  top: 60px;
  margin-bottom: 100px;
  animation: 1s to-top forwards cubic-bezier(0.18, 1.51, 0.34, 0.9);
  animation: idle 2s alternate infinite cubic-bezier(0.52, 0, 0.28, 1);
}

.art svg {
  position: absolute;
  width: 35px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

.score-container {
  background-color: var(--fc-light);
  box-shadow: #3d414424 0 0 15px 0;
  border-radius: 10px;
  animation: 1s to-top forwards cubic-bezier(0.18, 1.51, 0.34, 0.9);
}

.score-container .copy {
  text-align: center;
  opacity: 0;
  animation: 1s 0.2s to-top forwards cubic-bezier(0.18, 1.51, 0.34, 0.9);
}

.title {
  font-weight: 600;
  margin: 0;
}

.description {
  color: #8696ac;
  font-size: 14px;
  margin-top: 5px;
  max-width: 100%;
  width: 70%;
  display: block;
  text-align: center;
  padding: 15px 15%;
}

.action-button {
  outline: none;
  border: none;
  padding: 7px 20px;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  box-shadow: 0px 4.528800010681152px 3.623039960861206px 0px
    rgba(0, 71, 255, 0.0244);
  box-shadow: 0px 4.519999980926514px 6.019999980926514px 0px
    rgba(0, 71, 255, 0.035);
  box-shadow: 0px 5.150000095367432px 7.119999885559082px 0px
    rgba(0, 71, 255, 0.0456);
  box-shadow: 0px 10px 10px 0px rgba(0, 71, 255, 0.07);
  margin-bottom: 60px;
}

.reward-container {
  text-align: center;
  opacity: 0;
  animation: 1s 0.4s to-top forwards cubic-bezier(0.18, 1.51, 0.34, 0.9);
}

.highlighted-text {
  font-weight: 500;
  font-size: 14px;
  background-color: #00a6ff4c;
  color: #096be2;
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 100px;
  margin: 30px 0 15px;
}

@keyframes to-top {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes idle {
  from {
    transform: translateY(-10px);
  }
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #206aff;
  stroke-width: 9.3158;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #206aff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 171;
  animation: dash 2s cubic-bezier(0.48, 0.04, 0.46, 0.97) infinite alternate;
  filter: hue-rotate(10deg);
}

@keyframes dash {
  to {
    stroke-dasharray: 38;
    filter: hue-rotate(0deg);
  }
}

.integration {
  display: flex;
  justify-content: center;
}

.integration-payload {
  width: 80%;
  height: 550px;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  background-color: #f0f9fc;
}
.integration-payload:focus{
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background-color: #f0f9fc;
}

.generate-guide {
  float: right;
  margin: 58px 96px 0 0px;
}

.generate-guide:hover {
  cursor: pointer;
}

.guide-wrapper {
  display: flex;
}

.left-block {
  width: 40%;
}

.right-block {
  width: 55%;
}

.divider {
  width: 5%;
}

.title-header {
  margin-bottom: 85px;
}

.text-block {
  padding: 3px 10px;
  background-color: #36445f;
  border-radius: 10px;
  margin-top: 250px;
  margin-bottom: 200px;
}
